.dropdown {
  display: flex;
  gap: 40px;
  margin-top: 32px;

  &__Box {
    width: 100%;
  }

  &__Info {
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
  }

  &__Para {
    background-color: #f6f6f6;
    color: #ff6060;
    font-size: 24px;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    position: relative;
    top: -10px;
    z-index: -1;
  }
}

.arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}

@media (max-width: 768px) {
  .dropdown {
      flex-direction: column;
  }  
}