.carousel-container {
    position: relative;
    color: black;
  }

  .carousel-slide {
    flex: 0 0 100%;
    position: relative;
  }

  .carousel-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .carousel-counter {
    font-size: 24px;
    font-weight: bold;
    margin-top: 110px;
  }

  .carousel-fleche {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .carousel-arrow {
    cursor: pointer;
    font-size: 42px;
    margin: 0 12px;
  }

  @media (max-width: 768px) {
    .carousel-arrow {
        font-size: 32px;
    }  

    .carousel-counter {
        margin-top: 120px;
      }
  }