@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    padding: 0 10px;
    font-family: "Montserrat", sans-serif;

    #root {
    max-width: 75vw;
    margin: 0 auto;
    }
}

  
@media (max-width: 768px) {
    body {
        padding: 0 0px;
    }  
}