.header_home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
  margin-top: 36px;

  &__header_links {
    font-weight: bold;
    display: flex;
    gap: 80px;
  }

  &__text {
    text-decoration: none;
    color: rgb(255, 87, 87);
    font-size: 24px;

    &.active {
      border-bottom: 1px solid rgb(255, 87, 87);
    }
  }
}

